html {
  height: 100vh;
}

.notice {
  background-color: white;
  margin: 0;
}

.my-container {
  padding: 15px;
}

.card-garden {

  color: black;
}

a.card-link {
   text-decoration: none !important;
}

.index-head {
  margin-bottom: 20px;
  font-size: 28px;

h1 {
  color: #0E0000;
  font-weight: normal;
  letter-spacing: 0.1em;

}
