html {
  height: 100vh;
}

.notice {
  background-color: white;
  margin: 0;
}

.my-container {
  padding: 30px;
}
#explore {
  color: #0E0000;
  font-size: 3em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: normal;
}

.card-garden {

  color: black;
}

a.card-link {
   text-decoration: none !important;
}

.index-head {
  margin-bottom: 20px;
  font-size: 28px;
}

h1 {
  color: #0E0000;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-bar {
  border-radius: 5px;
  width: 400px;
  height: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  padding-left: 20px;
  margin-top: 5px;
}

.search-bar-home {
  border-radius: 5px;
  width: 325px;
  height: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  padding-left: 20px;
  margin-top: 5px;
}


.margin-bottom {
  margin-bottom: 15px;
}

.review-link {
  text-decoration: none;
  color: #FE6600
}

.no-m-left {
  margin-left: 0px;
  padding-left: 0px;
}

