html {
  height: 100vh;
}

.notice {
  background-color: white;
  margin: 0;
}

.my-container {
  padding: 30px;
}
#explore {
  color: #0E0000;
  font-size: 3em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.card-garden {

  color: black;
}

a.card-link {
   text-decoration: none !important;
}

.index-head {
  margin-bottom: 20px;
  font-size: 28px;
}

h1 {
  color: #0E0000;
  font-weight: normal;
  letter-spacing: 0.1em;
}
