// Import page-specific CSS files here.
@import "home";

@import "all";


.cards-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.col-3 img {
  width: 100%;
  border-radius: 8px;
}

.col-3 {
  max-width: 100%;
}


.card-info {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 5px 2px;
  text-decoration: none;
}

.card-info p, .card-info h5{
  margin: 0px;
  padding-left: 2px;
}

a.card-link {
  text-decoration: none;
}

.all-owner-links {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.owner-link {
  text-decoration: none;
  color: black;
}
