<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
<%= simple_form_for [garden, booking] do |f| %>

  <%= f.input :start_date  %>
  <%= f.input :end_date %>
  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Submit", class: 'btn-basic btn-lg signup-inputs'%>
  </div>
<% end %>
    </div>
  </div>
</div>

