<h1>Bookings page</h1>

<% @bookings.each do |booking| %>
    <p> <%= booking.garden.photo %></p>
    <p>From: <%= booking.start_date %> </p>
    <p>To: <%= booking.end_date %></p>
  <%= link_to 'Show garden', garden_path(booking.garden) %>
<% end %>

