<div class="my-container">
  <h1>Rent-A-Garden</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="cards">
    <div class="card-garden">
    <img src="https://images.unsplash.com/photo-1561749747-2fd6aeb55144?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
    <div class="card-garden-infos">
      <div>
        <h2>Basic Garden</h2>
        <p>Host your next barbeque here!</p>
      </div>
      <h2 class="card-garden-pricing">£9.99/hr</h2>
    </div>
  </div>
</div>

</div>

<!-- <div class="cards">
    <div class="card-garden">
    <img src=<%= @garden.photo %>/>
    <div class="card-garden-infos">
      <div>
        <h2>Basic Garden</h2>
        <p><%= @garden.description %></p>
      </div>
      <h2 class="card-garden-pricing"><%= @garden.price %></h2>
    </div>
  </div>
</div>
 -->
