<div class="my-container">
  <h1 class="marg-left index-head"> My gardens</h1>

  <div class="cards-container">
    <% @gardens.each do |garden| %>
      <% if policy(garden).show? %>
        <div class="col-3">
        <%= link_to garden_path(garden), class: 'card-link' do %>
            <%= cl_image_tag(garden.photo, height: 200) %>
              <div class="card-info">
                <h5><%= garden.title %></h5>
            </div>
        <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
