<div class="my-container">
  <h1 class="marg-left"> My gardens</h1>

  <div class="cards-container">
    <% @gardens.each do |garden| %>
      <% if policy(garden).show? %>
        <div class="col-3">
            <%= cl_image_tag(garden.photo, height: 200) %>
            <div class="all-owner-links">
                <% if policy(garden).show? %>
                  <%= link_to 'View', garden_path(garden), class: 'owner-link' %>
                <% end %>

                <% if policy(garden).edit? %>
                  <%= link_to 'Edit', garden_path(garden), class: 'owner-link' %>
                <% end %>

                <% if policy(garden).destroy? %>
                  <%= link_to 'Remove', garden, method: :delete, data: { confirm: 'Are you sure?' }, class: 'owner-link' %>
                <% end %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
