.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-left {
  display: flex;
}

.fa-search {
  position: relative;
  left: 30px;
}
